config.log
config.h
config.cache
config.status
config.guess
config.sub
.deps
depcomp
compile
missing
install-sh
mkinstalldirs
configure.lineno
configure
config.h.in
aclocal.m4
Makefile.in
autom4te.cache
libtool
ltmain.sh
m4
.stgit.*
*.tar.gz
*.swp
build
build-aux
.msg
.rebase-*
*~
*.loT
*.o
patches-*
cscope*
tags*
TAGS
.libs
*.l[ao]
.dirstamp
Makefile
match-interface.pc
match-interface.spec
matchd-api.pc
matchd.service
match
matchd
tests/nl/nl_get_attr_ex
